# Local run
certs/
tomcat/
env.sh
application.yaml

# Maven
target/

# Intellij
.idea
*.iml

# Eclipse
.classpath
.settings
.project

# Applications
integration-jira/
integration-github/
integration-trello/
integration-salesforce/
integration-universal-whi/
integration-zapier/
