#!/bin/bash

# Run integrations locally by simulating what Travis would do

# TODO - make them dynamic
export IB_DOMAIN=".symphony.foundation"
export IB_HOST=integrations.symphony.foundation
export IB_PORT=8080

export POD_HOST=foundation-dev.symphony.com
export POD_PORT=443
export AGENT_HOST=foundation-dev-api.symphony.com
export AGENT_PORT=443
export KM_HOST=foundation-dev-api.symphony.com
export KM_PORT=443
export KM_AUTH_HOST=foundation-dev-api.symphony.com
export KM_AUTH_PORT=443
export SM_HOST=foundation-dev.symphony.com
export SM_PORT=443

# not needed
# export CL_ACCOUNT=
# export CL_SECRET=

export JIRA_CERT_FILE=jira.p12
export JIRA_CERT_PWD=changeit
export GITHUB_CERT_FILE=github.p12
export GITHUB_CERT_PWD=changeit
export SALESFORCE_CERT_FILE=salesforce.p12
export SALESFORCE_CERT_PWD=changeit
export UNIVERSAL_CERT_FILE=universal.p12
export UNIVERSAL_CERT_PWD=changeit
export TRELLO_CERT_FILE=trello.p12
export TRELLO_CERT_PWD=changeit
export ZAPIER_CERT_FILE=zapier.p12
export ZAPIER_CERT_PWD=changeit
