<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Properties>
        <Property name="LOG4J2_BASE_DIR">/data/symphony/ib</Property>
        <Property name="LOG4J2_LEVEL">INFO</Property>
        <Property name="LOG4J2_FILE_LEVEL">INFO</Property>
        <Property name="LOG4J2_FILE_ERROR_LEVEL">WARN</Property>
        <Property name="LOG4J2_OUTPUT_CONSOLE">false</Property>

        <Property name="symphony.maxLogsPerBulkRequest">10</Property>
        <Property name="symphony.maxPayloadSize">100000</Property>
    </Properties>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="${env:LOG4J2_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %20c{1} %M [Trace ID: %X{X-Trace-Id}] - %m%n"/>
        </Console>

        <RollingFile name="error-rolling-file"
                     fileName="${env:LOG4J2_BASE_DIR}/logs/integration-bridge-error.log"
                     filePattern="${env:LOG4J2_BASE_DIR}/logs/integration-bridge-error-%i.log.gz"
                     immediateFlush="false">
            <PatternLayout pattern="%d %-5p [%c] (%t) [Trace ID: %X{X-Trace-Id}] %m%n"/>
            <ThresholdFilter level="${env:LOG4J2_FILE_ERROR_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy max="10"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="rolling-file"
                     fileName="${env:LOG4J2_BASE_DIR}/logs/integration-bridge.log"
                     filePattern="${env:LOG4J2_BASE_DIR}/logs/integration-bridge-%i.log.gz"
                     immediateFlush="false">
            <PatternLayout pattern="%d %-5p [%c] (%t) [Trace ID: %X{X-Trace-Id}] %m%n"/>
            <ThresholdFilter level="${env:LOG4J2_FILE_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy max="10"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <SymphonyOnPremHttpsAppender name="OnPremHttpsAppender" url="${sys:cloudLogHarvesterURL}"
                                     maxLogsPerBulkRequest="${sys:symphony.maxLogsPerBulkRequest}"
                                     maxLogsPerBulkRequestFromSink="${sys:symphony.maxLogsPerBulkRequest}"
                                     maxPayloadSize="${sys:symphony.maxPayloadSize}" flushingInterval="5"
                                     sinkFlushingInterval="5"
                                     sinkFileName="${env:LOG4J2_BASE_DIR}/logs/integration." instanceId="integration-bridge"
                                     sessionProviderClassName="com.symphony.integration.logging.IntegrationBridgeSessionProvider">
            <PatternLayout pattern="%d %-5p [%c] (%t) [Trace ID: %X{X-Trace-Id}] %m%n"/>
        </SymphonyOnPremHttpsAppender>

        <SymphonyOnPremHttpsAppender name="OnPremHttpsAppenderError" url="${sys:cloudLogHarvesterURL}"
                                     maxLogsPerBulkRequest="${sys:symphony.maxLogsPerBulkRequest}"
                                     maxLogsPerBulkRequestFromSink="${sys:symphony.maxLogsPerBulkRequest}"
                                     maxPayloadSize="${sys:symphony.maxPayloadSize}" flushingInterval="5" sinkFlushingInterval="5"
                                     sinkFileName="${env:LOG4J2_BASE_DIR}/logs/integration-error." instanceId="integration-bridge"
                                     sessionProviderClassName="com.symphony.integration.logging.IntegrationBridgeSessionProvider">
            <PatternLayout pattern="%d %-5p [%c] (%t) [Trace ID: %X{X-Trace-Id}] %m%n"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </SymphonyOnPremHttpsAppender>

    </Appenders>

    <Loggers>

        <AsyncLogger name="org.symphonyoss" level="${env:LOG4J2_LEVEL}" additivity="${env:LOG4J2_OUTPUT_CONSOLE}">
            <AppenderRef ref="rolling-file"/>
            <AppenderRef ref="error-rolling-file"/>
            <AppenderRef ref="OnPremHttpsAppender" />
        </AsyncLogger>

        <AsyncRoot level="${env:LOG4J2_LEVEL}">
            <AppenderRef ref="console"/>
            <AppenderRef ref="error-rolling-file"/>
            <AppenderRef ref="OnPremHttpsAppenderError" />
        </AsyncRoot>

    </Loggers>

</Configuration>
